/target
Cargo.lock
/work
/tests/ManagedLibrary/obj
/tests/ManagedLibrary/bin
/tests/ManagedLibrary/deploy
/tests/Avalonia/obj
/tests/Avalonia/bin
/tests/Avalonia/deploy
/tests/TestGUI/obj
/tests/TestGUI/bin
/tests/TestGUI/deploy
